@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   font-family: "Raleway", sans-serif;
}

html {
	font-size: 16px;
}

header {
	width: 100%;
	height: 60vh;
	background-image: url(../image/img/dd.jpg);
	background-position: top center;
	background-size: cover;
	background-attachment: scroll;
	text-align: center;
	border-top: 0.6rem solid #4e82b3;
}

.inner {
	max-width: 1250px;
	margin: 0 auto;
	padding: 5% 5%;
}

nav {
	display: flex;
	justify-content: space-between;
}

.logo {
	font-weight: 400;
	font-size: 1.2rem;

}

ul {
	display: flex;
}

ul li {
	list-style: none;
	margin-left: 2rem;
}
nav > *,a {
	color: #fff;
	text-decoration: none;
	font-weight: 200;
}
.menu {
	display: none;
}


.headings {
	margin-top: 5rem;
}
div.headings > h1 {
	color: #fff;
	font-weight: 100;
	font-size: 3rem;
}

div.headings > p {
    color: #cacaca;
	font-weight: 100;
	font-size: 0.8rem;
	margin-top: 1rem;
} 

/* info section starts */


.flex-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.info > section {
	width: 300px;
	padding: 0.25rem;
}
.info > section > h2 {
	font-weight: 300;
	margin-bottom: 1.5rem;
	line-height: 2rem;
	color: #4e82b3;
}
.info > section > p {
	font-weight: 300;
	margin-bottom: 1.2rem;
	line-height: 2rem;
	color: #8d8c8c;
}

.more {
    background-color: #5385c1;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
    outline: none;
    border: none;
    margin: 0.5rem;
    margin-top: 20px;
	font-family: inherit;
	font-size: 1.1rem;
}

.info > section:nth-child(1) {
	border-right: 0.06rem solid #cacaca;
	padding-right: 2.8rem !important;
	width: 370px;
}
.info > section:nth-child(1) {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}
.info > section:nth-child(3) {
	border-left: 0.06rem solid #cacaca;
	padding-left: 4rem !important;
	width: 370px;
}


/* .info hr {
	width: 0.1px;
	
} */
/* textmonial-wrapper */

.testimonial-wrapper {
	width: 100%;
	background-color: #4e82b1;
	text-align: center;
	color: #fff;
}

.testimonial-wrapper h1 {
	font-size: 2rem;
	font-weight: 200;
	margin-bottom: 0.74rem;
}

.testimonial-wrapper p {
	font-size: 1rem;
	font-weight: 200;
	margin-bottom: 3rem;
}
.testimonial  {
	width: 220px;
	border: 1px solid #a0c2e8;
	padding: 3rem 0;
}
.testimonial img {
	border-radius: 100%;
	width: 65%;
}
.testimonial h2 {
	font-size: 1.5rem;
	font-weight: 100;
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}

/* image gallary  */
.image-galery {
	text-align: center;
	margin-top: 3rem;
}
.image-galery h2 {
	font-size: 3.2rem;
	font-weight: 200;
	color: #4e82b3;
	margin-bottom: 5px;
}
.image-galery p:nth-child(2) {
	font-size: 1.4rem;
	color: #cacaca;
	margin-bottom: 3.9rem;
}
.left {
	width: 47% !important;
	text-align: left;
}



.right {
	width: 47%;
	text-align: left;
}
.left img {
	width: 100%;
}
.right img {
	width: 100%;
}

.left h1 {
	margin: 1rem 0;
	font-weight: 200;
	color: #4e82b3;
	text-align: left;
}
.left p {
	margin-bottom: 2rem;
	text-align: left;
	color: #8a8a8a;
	line-height: 1.5rem;
}


.right h1 {
	margin: 1rem 0;
	font-weight: 200;
	color: #4e82b3;
	text-align: left;
}
.right p {
	margin-bottom: 2rem;
	text-align: left;
	color: #8a8a8a;
	line-height: 1.5rem;
}

/* footer starts  */
footer > .inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-hr{
    width: 100%;
	height: 1px;
	margin-bottom: 3rem;
}
.footer p {
	color: #727272;
}
.socialMedia span.fa{
	font-size: 1.3rem;
	padding: 0 0.2rem;
	color: #5385c1;
}

@media only screen and (max-width: 1169px) {
	.info > section:nth-child(3) {
		text-align: left;
		flex: 1 1 300px;
		padding-left: 3rem !important;
	}
	.info > section:nth-child(1) {
	    text-align: left;
		flex: 1 1 300px;
		padding-right: 0.3rem !important;
	}
	.info > section:nth-child(2) {
		text-align: left;
		flex: 1 1 300px;
		padding-left: 3rem !important;
		padding-right: 0.3rem !important;
	}
}

@media only screen and (max-width: 980px) {
	.info > section:nth-child(1) {
	    text-align: left;
		flex: 1 1 300px;
		padding-right: 2rem !important;
	}
	.info > section:nth-child(3) {
		text-align: left;
		flex: 1 1 300px;
		padding-left: 3rem !important;
		border: 0;
		padding-top: 2rem;
	}
	.testimonial {
		flex: 1 1 350px;
		margin: 30px;
	}
} 

@media only screen and (max-width: 980px)  {
	.testimonial {
		flex: 1 1 350px;
		margin: 70px;
	}
	.testimonial img {
		width: 35%;
	}
}

@media only screen and (max-width: 900px) {
    .menu {
		display: block;
	}
	.sidebar {
		background-color: #000000ab;
		position: fixed;
		top: 0;
		left: -250px;
		height: 100vh;
	}
	ul {
		display: list-item;
		margin-top: 5rem;
	}
	li {
		margin-top: 4rem;
		padding-right: 5rem;
		padding-left: 2rem;
		transition: .3s ;
	}
}


@media only screen and (max-width: 785px) {
	.image-galery .left {
		flex: 1 1 400px;
		margin-bottom: 40px;
	}
	.image-galery .right {
		flex: 1 1 400px;
		margin-top: 20px;
	}
}


@media only screen and (max-width: 655px) and (min-width: 200px) {
	.info > section:nth-child(1) {
	    text-align: left;
		flex: 1 1 300px;
		padding-right: 2rem !important;
		border: 0;
	}
	.info > section:nth-child(3) {
		text-align: left;
		flex: 1 1 300px;
		padding-left: 3rem !important;
		border: 0;
		padding-top: 2rem;
	}

}

@media only screen and (max-width: 588px) {
    .footer p {
		display: block;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 411px) {
	.footer p {
		display: block;
		margin-bottom: 20px;
		font-size: 0.8rem;
	}
	.testimonial {
		flex: 1 1 350px;
		margin: 40px;
	}
}


@media only screen and (max-width: 307px) {
	.testimonial {
		flex: 1 1 350px;
		margin: 20px;
	}
}

@media only screen and (max-width: 287px) {
	.info > section:nth-child(1) {
	    text-align: left;
		flex: 1 1 600px;
		padding-right: 0;
		border: 0;
	}
	.info > section:nth-child(3) {
		text-align: left;
		flex: 1 1 600px;
		padding-left: 0;
		border: 0;
		padding-top: 2rem;
	}
}